body {
    background: #F72B39;
  }
  
  #canvas {
    margin: 11vh auto;
    border: 1px solid green;
    width: 60vh;
    height: 75vh;
    background: #EBF7E3;
  }
  
  /* Placar */
  #placar {
    /* border: 1px solid black; */
    display: flex;
    position: relative;
  }

  #placar .p-row{
    /* border: 1px solid red; */
    /* float: left;
    /* margin: 5vh 6.6vh; */
    text-align: center;
    width: 210px;
    margin: 5vh 0;
  }

  #placar p, span {
    margin: 0;
    padding: 0;
    color: #375F1B;
    font-weight: bolder;
  }

/* Outline Placar */
#outline_p1 {
  position: absolute;
  /* border: 1px solid red; */
  width: 16vh;
  height: 7vh;
  top: 4vh;
  left: 7vh;
}

#outline_p2 {
  position: absolute;
  /* border: 1px solid red; */
  width: 16vh;
  height: 7vh;
  top: 4vh;
  right: 7vh;
}
  
.clear {
  clear: both;
}
  
/* TABULEIRO */
#tabuleiro {
  /* border: 1px solid black; */
  height: 50vh;
  width: 50vh;
  margin: 0 auto;
}
  
.b-spaces {
  width: 16.66vh;
  height: 16.8vh;
  /* border: 1px solid #375F1B; */
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6vh;
  cursor: pointer;
  font-weight: bolder;
}
/*  */

.a1 {
  border-right: 2px solid #375F1B;
  border-bottom: 2px solid #375F1B;
}

.a2 {
  border-right: 2px solid #375F1B;
  border-bottom: 2px solid #375F1B;
}

.a3 {
  /* border-right: 2px solid #375F1B; */
  border-bottom: 2px solid #375F1B;
}

.a4 {
  border-right: 2px solid #375F1B;
  border-bottom: 2px solid #375F1B;
}

.a5 {
  border-right: 2px solid #375F1B;
  border-bottom: 2px solid #375F1B;
}

.a6 {
  /* border-right: 2px solid #375F1B; */
  border-bottom: 2px solid #375F1B;
}

.a7 {
  border-right: 2px solid #375F1B;
  /* border-bottom: 2px solid #375F1B; */
}

.a8 {
  border-right: 2px solid #375F1B;
  /* border-bottom: 2px solid #375F1B; */
}

/*  */

/* Reiniciar */
.restart {
  text-align: center;
  margin-top: 13px;
}
  
.restart a {
  color: green;
}